* text=auto eol=lf

# Código
*.py text eol=lf
*.ipynb text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

# Binarios/datos
*.png binary
*.jpg binary
*.nii binary
*.nii.gz binary
*.dcm binary


