numpy>=2.1,<2.3
scipy>=1.14
scikit-image>=0.25.2
pyvista
vtk
SimpleITK
nibabel
pydicom
scikit-image
matplotlib
scikit-image
opencv-python-headless
bezier>=2024.6.20
pytest
pre-commit
ruff
black
jupytext
nbstripout
